{% load static %}

{% block content %}
    <!-- Watches -->
    <li class="nav-item category-nav-item"
        onmouseenter="showSubcategories('featurePhonesMoreCategories');"
        onmouseleave="removeSubcategories('featurePhonesMoreCategories')">
        <a href="#" class="nav-link">

          <div class="d-flex justify-content-between px-2">
             <span>
               Watches
             </span>
<!--             <i class="fa fa-chevron-right mr-0 mt-1"></i>-->
          </div>

          <div class="d-none more-categories" id="featurePhonesMoreCategories">
<!--              <div class="d-flex">-->
<!--                  <div class="invisibleDiv"></div>-->
<!--                  <div class="card shadow bg-white" style="width: 250px;">-->
<!--                      <div class="card-body border pb-2 px-0 pt-1">-->
<!--                          <ul class="nav flex-column">-->
<!--                              &lt;!&ndash;  &ndash;&gt;-->
<!--                              <li class="nav-item category-nav-item px-2"-->
<!--                                  onmouseenter="addGreyBackground(this);"-->
<!--                                  onmouseleave="removeGreyBackground(this);"-->
<!--                              >-->
<!--                                  <a href="#" class="nav-link text-info">-->
<!--                                      -->
<!--                                  </a>-->
<!--                              </li>-->
<!--                          </ul>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
          </div>

        </a>
    </li>
    <!-- Watches / -->
{% endblock %}
