{% load static %}

{% block content %}
  <!-- Sports & Outdoor -->
  <li class="nav-item category-nav-item px-2"
      onmouseenter="showSubcategories('outdoorSubcategories');"
      onmouseleave="removeSubcategories('outdoorSubcategories')"
  >
    <a href="#" class="nav-link">

        <div class="d-flex justify-content-between">
          <span>Sports & Outdoor</span>
          <i class="fa fa-chevron-right mr-0 mt-1"></i>
        </div>

        <div class="d-none subcategories" id="outdoorSubcategories">
<!--          <div class="d-flex">-->
<!--            <div class="invisibleDiv"></div>-->
<!--            <div class="card shadow bg-white" style="width: 250px;">-->
<!--              <div class="card-body border pb-2 px-0 pt-1">-->
<!--                 <ul class="nav flex-column">-->

<!--                      &lt;!&ndash;  &ndash;&gt;-->


<!--                 </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>

    </a>
  </li>
  <!-- Sports & Outdoor / -->
{% endblock %}
